# --------------------------
# Python
# --------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pkl
# *.joblib
*.env
.builder

# --------------------------
# Virtual Environment
# --------------------------
venv/
clientenv/
env/
.env/

# --------------------------
# Jupyter Notebook checkpoints
# --------------------------
.ipynb_checkpoints/

# --------------------------
# IDE / Editor specific
# --------------------------
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# --------------------------
# OS Files
# --------------------------
.DS_Store
Thumbs.db

# --------------------------
# Logs
# --------------------------
*.log

# --------------------------
# Streamlit
# --------------------------
.streamlit/

# --------------------------
# Data
# --------------------------
data/
